/*SELECTOR UNIVERSAL*/
* {
    box-sizing:border-box;
    margin:0;
    padding: 0;
}
/*SELECTOR HTML*/
html {
    font-size: 62.5%;
}
/*CLASE CONTAINER*/
.container {
    display: flex;
    flex-wrap: wrap;
}
/*AGRUPACION DE CLASES*/
.c1,
.c2,
.c3,
.c4,
.c5 {
    width: 100%;
    min-width: 150px;
    height: 150px;
    font-weight: bold;
}
/*COLOR DE FONDO A CADA CONTENEDOR*/
.c1 {
    background-color: #003476;
}
.c2 {
    background-color: #761c00;
}
.c3 {
    background-color: #dcf311;
}
.c4 {
    background-color: #047600;
}
.c5 {
    background-color: #0bf5f5;
}
/*MEDIA QUERIES*/
/*
@media (min-width:600px){
    .c2,
    .c3,
    .c4 {
        width: 50%;
    }
@media (min-width:800px){
    .container {
        width:800px;
        margin-left: auto;
        margin-right: auto;
    }
}
*/