h1 {
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-decoration:line-through;
}
.nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none ;
}
.nav a{
    color: chocolate;
    text-decoration: none;
}
.nav a:hover{
    background-color:yellowgreen ;
    color:rgb(194, 41, 21);
    text-decoration: none;
}
.nav a::after{
    content: " | ";
}